In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=fb7b61166367dc17a8f54e5e765a5b6c1c00242c97a323985060e0ea1c089732
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [ ]:
#Import sparkSession
from pyspark.sql import SparkSession

#create sparkSession
spark = SparkSession.builder.getOrCreate()

In [ ]:
from pyspark.sql import Row
row=Row("James",40)
print(row)
print(row[0] +","+str(row[1]))

<Row('James', 40)>
James,40

In [ ]:
row=Row(name="Alice", age=11)
print(row)
print(row.name, row.age)

Row(name='Alice', age=11)
Alice 11

In [ ]:
Person=Row("name","age")
p1=Person("James",40)
p2=Person("Alice",35)
print(p1.name,p1.age)
print(p2.name,p2.age)

James 40
Alice 35

In [ ]:
from pyspark.sql import SparkSession,Row
data=[Row(name="James,,Smith",lang=['Java','Scala','C++'],state='CA'),
      Row(name="Michael,Rose,",lang=['Spark','Java','C++'],state='NJ'),
      Row(name="Robert,,Williams",lang=['CSharp','VB'],state='NV')]
rdd=spark.sparkContext.parallelize(data)
print(rdd.collect())

[Row(name='James,,Smith', lang=['Java', 'Scala', 'C++'], state='CA'), Row(name='Michael,Rose,', lang=['Spark', 'Java', 'C++'], state='NJ'), Row(name='Robert,,Williams', lang=['CSharp', 'VB'], state='NV')]

In [ ]:
collData=rdd.collect()
for row in collData:
  print(row.name + "," +str(row.lang)+","+str(row.state))

James,,Smith,['Java', 'Scala', 'C++'],CA
Michael,Rose,,['Spark', 'Java', 'C++'],NJ
Robert,,Williams,['CSharp', 'VB'],NV

In [ ]:
Person=Row("name","lang","state")
data=[Person("James,,Smith",["Java","Scala","C++"],"CA"),
      Person("Michael,Rose,",["Spark","Java","C++"],"NJ"),
      Person("Robert,,Williams",["CSharp","VB"],"NV")]

In [ ]:
df=spark.createDataFrame(data)
df.printSchema()
df.show()

root
 |-- name: string (nullable = true)
 |-- lang: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- state: string (nullable = true)

+----------------+------------------+-----+
|            name|              lang|state|
+----------------+------------------+-----+
|    James,,Smith|[Java, Scala, C++]|   CA|
|   Michael,Rose,|[Spark, Java, C++]|   NJ|
|Robert,,Williams|      [CSharp, VB]|   NV|
+----------------+------------------+-----+

In [ ]:
columns=["name","languagesAtSchool","currentState"]
df=spark.createDataFrame(data).toDF(*columns)
df.printSchema()
df.show()

root
 |-- name: string (nullable = true)
 |-- languagesAtSchool: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- currentState: string (nullable = true)

+----------------+------------------+------------+
|            name| languagesAtSchool|currentState|
+----------------+------------------+------------+
|    James,,Smith|[Java, Scala, C++]|          CA|
|   Michael,Rose,|[Spark, Java, C++]|          NJ|
|Robert,,Williams|      [CSharp, VB]|          NV|
+----------------+------------------+------------+

In [ ]:
# Create Dataframe with struct using Row function
from pyspark.sql import Row
data=[Row(name="James",prop=Row(hair="black",eye="blue")),
      Row(name="Ann",prop=Row(hair="grey",eye="black"))]
df=spark.createDataFrame(data)
df.printSchema()
df.show()

root
 |-- name: string (nullable = true)
 |-- prop: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)

+-----+-------------+
| name|         prop|
+-----+-------------+
|James|{black, blue}|
|  Ann|{grey, black}|
+-----+-------------+

In [ ]:
from pyspark.sql.functions import lit

In [ ]:
data=[("James",23),("Ann",40)]
df=spark.createDataFrame(data).toDF("namefname","gender")
df.printSchema()
df.show()
# root
#  |-- namefname: string (nullable = true)
#  |-- gender: long (nullable = true)

df.select(df.gender).show()
df.select(df["gender"]).show()
df.select(df["namefname"]).show()
# df.select(df["name"]["fname/"]).show()

root
 |-- namefname: string (nullable = true)
 |-- gender: long (nullable = true)

+---------+------+
|namefname|gender|
+---------+------+
|    James|    23|
|      Ann|    40|
+---------+------+

+------+
|gender|
+------+
|    23|
|    40|
+------+

+------+
|gender|
+------+
|    23|
|    40|
+------+

+---------+
|namefname|
+---------+
|    James|
|      Ann|
+---------+

In [ ]:
# Using SQL col() function
from pyspark.sql.functions import col
# df.select(df["namefname"]).show()
# df.select(col("namefname")).show()
df.select(col("gender")).show()
#Accessing column name with dot (with backits)
# df.select(col("namefname")).show()

+------+
|gender|
+------+
|  NULL|
|     F|
|      |
|     M|
+------+

In [ ]:
# Create DataFrame with sructure using class
from pyspark.sql import Row
data=[Row(name="James",prop=Row(hair="black",eye="blue")),
      Row(name="Ann",prop=Row(hair="grey",eye="black"))]
df=spark.createDataFrame(data)
df.printSchema()
#Access struct column
df.select(df.prop).show()
df.select(df.prop.hair).show()
df.select(df["prop.hair"]).show()
df.show()

root
 |-- name: string (nullable = true)
 |-- prop: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)

+-------------+
|         prop|
+-------------+
|{black, blue}|
|{grey, black}|
+-------------+

+---------+
|prop.hair|
+---------+
|    black|
|     grey|
+---------+

+-----+
| hair|
+-----+
|black|
| grey|
+-----+

+-----+-------------+
| name|         prop|
+-----+-------------+
|James|{black, blue}|
|  Ann|{grey, black}|
+-----+-------------+

In [ ]:
#Access all columns from struct
df.select(col("prop.*")).show()

+-----+-----+
| hair|  eye|
+-----+-----+
|black| blue|
| grey|black|
+-----+-----+

In [ ]:
data=[[100,2,1],[200,3,4],[300,4,4]]
df=spark.createDataFrame(data).toDF("col1","col2","col3")
df.show()

+----+----+----+
|col1|col2|col3|
+----+----+----+
| 100|   2|   1|
| 200|   3|   4|
| 300|   4|   4|
+----+----+----+

In [ ]:
# Arithematic Operations
df.select(df.col1 + df.col2).show()
df.select(df.col1 - df.col2).show()
df.select(df.col1 * df.col2).show()
df.select(df.col1 / df.col2).show()

+-------------+
|(col1 + col2)|
+-------------+
|          102|
|          203|
|          304|
+-------------+

+-------------+
|(col1 - col2)|
+-------------+
|           98|
|          197|
|          296|
+-------------+

+-------------+
|(col1 * col2)|
+-------------+
|          200|
|          600|
|         1200|
+-------------+

+-----------------+
|    (col1 / col2)|
+-----------------+
|             50.0|
|66.66666666666667|
|             75.0|
+-----------------+

In [ ]:
df.select(df.col1 - df.col2).show()
df.select(df.col1 * df.col2).show()
df.select(df.col1 / df.col2).show()
df.select(df.col1 % df.col2).show()
df.select(df.col2 > df.col3).show()
df.select(df.col2 < df.col3).show()
df.select(df.col2 == df.col3).show()

+-------------+
|(col1 - col2)|
+-------------+
|           98|
|          197|
|          296|
+-------------+

+-------------+
|(col1 * col2)|
+-------------+
|          200|
|          600|
|         1200|
+-------------+

+-----------------+
|    (col1 / col2)|
+-----------------+
|             50.0|
|66.66666666666667|
|             75.0|
+-----------------+

+-------------+
|(col1 % col2)|
+-------------+
|            0|
|            2|
|            0|
+-------------+

+-------------+
|(col2 > col3)|
+-------------+
|         true|
|        false|
|        false|
+-------------+

+-------------+
|(col2 < col3)|
+-------------+
|        false|
|         true|
|        false|
+-------------+

+-------------+
|(col2 = col3)|
+-------------+
|        false|
|        false|
|         true|
+-------------+

In [ ]:
df.show()
df.select(df.col2>df.col3).show()

+----+----+----+
|col1|col2|col3|
+----+----+----+
| 100|   2|   1|
| 200|   3|   4|
| 300|   4|   4|
+----+----+----+

+-------------+
|(col2 > col3)|
+-------------+
|         true|
|        false|
|        false|
+-------------+

In [ ]:
data=[("James","Bond","100",None),
      ("Ann","Varsa","200",'F'),
      ("Tom Cruise","XXX","400",''),
      ("Tom Brand",None,"400",'M')]
columns=["fname","lname","id","gender"]
df=spark.createDataFrame(data=data,schema=columns)
df=spark.createDataFrame(data,columns)
df.show()
df.show(truncate=False)
df.show(truncate=3)
df.show(truncate=4)

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|     James| Bond|100|  NULL|
|       Ann|Varsa|200|     F|
|Tom Cruise|  XXX|400|      |
| Tom Brand| NULL|400|     M|
+----------+-----+---+------+

+----------+-----+---+------+
|fname     |lname|id |gender|
+----------+-----+---+------+
|James     |Bond |100|NULL  |
|Ann       |Varsa|200|F     |
|Tom Cruise|XXX  |400|      |
|Tom Brand |NULL |400|M     |
+----------+-----+---+------+

+-----+-----+---+------+
|fname|lname| id|gender|
+-----+-----+---+------+
|  Jam|  Bon|100|   NUL|
|  Ann|  Var|200|     F|
|  Tom|  XXX|400|      |
|  Tom|  NUL|400|     M|
+-----+-----+---+------+

+-----+-----+---+------+
|fname|lname| id|gender|
+-----+-----+---+------+
| J...| Bond|100|  NULL|
|  Ann| V...|200|     F|
| T...|  XXX|400|      |
| T...| NULL|400|     M|
+-----+-----+---+------+

In [ ]:
#alias
from pyspark.sql.functions import expr
df.select(df.fname.alias("first_name"),
          df.lname.alias("last_name")).show()

#Another example
# Explanation of expr()
# The expr() function in PySpark is a powerful way to express complex SQL-like expressions within your DataFrame operations.
# It allows you to manipulate columns, perform calculations, and apply conditions using a more concise syntax.
# Benefits of using expr():
# - Concise syntax: Reduces the need for multiple function calls to achieve complex data manipulations.
# - Flexibility: Allows you to use standard SQL functions, operators, and expressions.
# - Readability: Makes your code more readable and understandable by using familiar SQL-like expressions.

df.select(expr("fname ||','|| lname").alias("fullName")).show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|     James|     Bond|
|       Ann|    Varsa|
|Tom Cruise|      XXX|
| Tom Brand|     NULL|
+----------+---------+

+--------------+
|      fullName|
+--------------+
|    James,Bond|
|     Ann,Varsa|
|Tom Cruise,XXX|
|          NULL|
+--------------+

In [ ]:
# ASC,DESC to asending and desending order respectively.
df.sort(df.fname.asc()).show()
df.sort(df.fname.desc()).show()
df.sort(df.id.desc()).show()
df.sort(df.id.asc()).show()
df.printSchema()

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|       Ann|Varsa|200|     F|
|     James| Bond|100|  NULL|
| Tom Brand| NULL|400|     M|
|Tom Cruise|  XXX|400|      |
+----------+-----+---+------+

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|Tom Cruise|  XXX|400|      |
| Tom Brand| NULL|400|     M|
|     James| Bond|100|  NULL|
|       Ann|Varsa|200|     F|
+----------+-----+---+------+

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|Tom Cruise|  XXX|400|      |
| Tom Brand| NULL|400|     M|
|       Ann|Varsa|200|     F|
|     James| Bond|100|  NULL|
+----------+-----+---+------+

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|     James| Bond|100|  NULL|
|       Ann|Varsa|200|     F|
|Tom Cruise|  XXX|400|      |
| Tom Brand| NULL|400|     M|
+----------+-----+---+------+

root
 |-- fname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)

In [ ]:
#cast
df.select(df.fname.cast("string"),df.id.cast("int")).printSchema()

root
 |-- fname: string (nullable = true)
 |-- id: integer (nullable = true)

In [ ]:
#between
df.select(df.id.between(100,300)).show()
df.filter(df.id.between(100,300)).show()

+-----------------------------+
|((id >= 100) AND (id <= 300))|
+-----------------------------+
|                         true|
|                         true|
|                        false|
|                        false|
+-----------------------------+

+-----+-----+---+------+
|fname|lname| id|gender|
+-----+-----+---+------+
|James| Bond|100|  NULL|
|  Ann|Varsa|200|     F|
+-----+-----+---+------+

In [ ]:
#contains
df.filter(df.fname.contains("Cruise")).show()

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|Tom Cruise|  XXX|400|      |
+----------+-----+---+------+

In [ ]:
#startwidth,endswidth
df.filter(df.fname.startswith("T")).show()
df.filter(df.fname.endswith("Cruise")).show()

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|Tom Cruise|  XXX|400|      |
| Tom Brand| NULL|400|     M|
+----------+-----+---+------+

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|Tom Cruise|  XXX|400|      |
+----------+-----+---+------+

In [ ]:
# isNULL & isNOTNULL
df.filter(df.lname.isNull()).show()
df.filter(df.lname.isNotNull()).show()

+---------+-----+---+------+
|    fname|lname| id|gender|
+---------+-----+---+------+
|Tom Brand| NULL|400|     M|
+---------+-----+---+------+

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|     James| Bond|100|  NULL|
|       Ann|Varsa|200|     F|
|Tom Cruise|  XXX|400|      |
+----------+-----+---+------+

In [ ]:
#like,rlike
df.select(df.fname,df.lname,df.id).filter(df.fname.like("%nn")).show()
df.select(df.fname,df.lname,df.id).filter(df.fname.like("Ja%")).show()

+-----+-----+---+
|fname|lname| id|
+-----+-----+---+
|  Ann|Varsa|200|
+-----+-----+---+

+-----+-----+---+
|fname|lname| id|
+-----+-----+---+
|James| Bond|100|
+-----+-----+---+

In [ ]:
#substr
df.select(df.fname.substr(1,3).alias("substr")).show()

+------+
|substr|
+------+
|   Jam|
|   Ann|
|   Tom|
|   Tom|
+------+

In [ ]:
#when & otherwise
from pyspark.sql.functions import when
df.select(df.fname,df.lname,when(df.gender=="M","Male")
          .when(df.gender=="F","Female")
          .when(df.gender=="null","null")
          .otherwise(df.gender).alias("new_gender")).show()

+----------+-----+----------+
|     fname|lname|new_gender|
+----------+-----+----------+
|     James| Bond|      NULL|
|       Ann|Varsa|    Female|
|Tom Cruise|  XXX|          |
| Tom Brand| NULL|      Male|
+----------+-----+----------+